<%- partial('_widgets/progress-bar') %>

<main class="page-container" id="swup">
    <div class="main-content-container flex flex-col justify-between min-h-dvh">
        <div class="main-content-header">
            <%- partial('_partials/navbar') %>
        </div>
        <div class="main-content-body">
            <div class="main-content" style="min-height: 95vh">
                    <%- partial('_partials/page-template') %>
            </div>
        </div>
        
        <div class="main-content-footer">
            <%- partial('_partials/footer') %>
        </div>
    </div>
    <div class="right-side-tools-container">
        <%- partial('_widgets/side-tools') %>
    </div>

    <%- partial('_widgets/image-viewer') %>

    <% if (theme.navbar.search.enable) { %>
        <%- partial('_widgets/local-search') %>
    <% } %>

</main>
<% if (theme.global.single_page !== false) { %>
    <%- partial('_plugins/swup') %>
<% } %>


